form input[type=url] 
{
    width: 300px
}
#output img
{                           
    width: 100%;
    /*display: block;*/
}        
#output canvas
{
    width: 100% !important;
    height: 100% !important;
}
.container-fluid{
    margin-bottom: 2em;
}      
.playing{
    display: flex !important;
}
#output input{
    width: 100%;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
    color: #fff;
    background: #286090;
    border-color: #204d74;
}    
#progressbar {
    margin-top: 20px;
}

.progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
.ui-dialog-titlebar-close {
    display: none;
}